<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment Demo</title>


    <script src="/scripts/libs/bower_components/angular/angular.min.js" type="application/javascript"></script>
    <script src="/scripts/libs/bower_components/ngstorage/ngStorage.min.js" type="application/javascript"></script>
    <script src="/scripts/libs/bower_components/angular-route/angular-route.min.js" type="application/javascript"></script>
    <script src="/scripts/libs/bower_components/angular-cookies/angular-cookies.min.js" type="application/javascript"></script>
    <script src="/scripts/libs/bower_components/angular-ui-router/release/angular-ui-router.min.js" type="application/javascript"></script>
    <script src="/scripts/libs/bower_components/angular-resource/angular-resource.min.js" type="application/javascript"></script>

    <script src="/scripts/app.js" type="application/javascript"></script>
    <script src="/scripts/controllers/loginPageController.js" type="application/javascript"></script>
    <script src="/scripts/controllers/homeController.js" type="application/javascript"></script>

    <!-- Bootstrap dependencies -->

    <script src="/scripts/libs/bower_components/angular-bootstrap/ui-bootstrap.min.js" type="application/javascript"></script>
    <script src="/scripts/libs/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/scripts/libs/bower_components/angular-bootstrap/ui-bootstrap-csp.css">
    <link rel="stylesheet" href="/scripts/libs/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/scripts/libs/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">

</head>

<body ng-app="myApp" ng-controller="HomeController as homeCtrl" >

<ul class="nav nav-pills navbar-inverse" role="tablist">
    <li ng-class="{active: $route.current.activeTab == 'home'}">
        <a href="#/"><span class="glyphicon glyphicon-home"></span>Home</a>
    </li>
    <li ng-show="!model.authdetails.principal" ng-class="{active: $route.current.activeTab == 'login'}">
        <a href="/login.html"><span class="glyphicon glyphicon-log-in"></span>Login</a>
    </li>
    <li ng-show="model.authdetails.principal">
        <a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a>
    </li>
</ul>


<div style="text-align: center">
    <b ng-show="model.authdetails.principal">
        <h1>
            {{model.authdetails.principal.username}} Credit Cards
        </h1>

        <table ng-cloak class="data-table table table-bordered table-hover" cellspacing="0">
            <thead class="ui-widget-header">
            <th>Edit</th>
            <th>Credit Card Number</th>
            <th>Credit Card Type</th>
            <th>Expiry Date</th>
            </thead>
            <tbody>
            <tr ng-repeat="creditcard in model.ccdetails">
                <td>
                    <button class="btn btn-default"  ng-click="edit(creditcard)"
                            tooltip-placement="left" tooltip="Edit" >
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                </td>
                <td>{{creditcard.ccNumber}}</td>
                <td>{{creditcard.ccType}}</td>
                <td>{{creditcard.expiryDate}}</td>
            </tr>
            </tbody>
        </table>

        <h1>Add / Modify Credit Card</h1>
        <h4 style="color:red">{{errorMsg}}</h4>
        <h4 style="color:green" ng-if="successMsg != null">{{successMsg}}</h4>
        <form id="ccEditForm" name="ccEditForm" autocomplete="false">
            <div class="modal-body" ng-show="ccEditForm">

                <div class="form-group">
                    <label for="ccNumberInput">Credit Card Number</label>
                    <input type="text" class="form-control" id="ccNumberInput" ng-model="ccEditForm.ccNumber">
                </div>

                <div class="form-group">
                    <label for="ccTypeInput">Credit Card Type</label>
                    <input type="text"  class="form-control" id="ccTypeInput" ng-model="ccEditForm.ccType">
                </div>

                <div class="form-group">
                    <label for="expiryDateInput">Expiry Date</label>
                    <input type="text"  class="form-control" id="expiryDateInput" ng-model="ccEditForm.expiryDate">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="saveCreditCard()">Add / Modify Credit Card</button>
                <button class="btn btn-warning" ng-click="cancel()">Reset</button>
            </div>
        </form>
    </b>
    <b ng-show="!model.authdetails.principal">
        Unauthorised Access
    </b>
</div>
</body>